body{
    background-color: #D9D9D9;
    width: 100%;  /*100% de altura*/
    height: 100vh; /*100% del ancho de la venta*/
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin: 100px auto;
}

form {
    background-color: #1D252D;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
}

h1 {
    text-align: center;
}



.campos{
    margin: 10px 30px;
}


form .agregar{
    font-size: 14px;
    display: block; /* La clase "agregar" se mostrará como un bloque. Los elementos de bloque ocupan todo el ancho disponible y generalmente comienzan en una nueva línea.*/
    margin: 0 auto; /*El valor "auto" para los márgenes izquierdo y derecho automáticamente centra el elemento horizontalmente dentro de su contenedor.*/
    background-color: #1D9428;
    color: #d1d1d1;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: #1D9428;
}

.input-chico{
    width: 20%;
    min-width: 100px;
    border-radius: 7px;
    border: none;
    padding: 2px;
    margin: 1px 0 0 0;
}

div #nombre{
    width: 90%;
    border-radius: 7px;
    border: none;
    padding: 3px;
    margin: 1px 0 0 0;
}

div .input-grande{
    width: 92%;
    border-radius: 7px;
    border: none;
    padding: 3px;
    margin: 2px 0 0 0;
}

.nav{
    display: block;
}