form {
    background-color: #1D252D;
    color: #ffffff;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    width: 647px;
    height: 742px;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
}

body{
    background-color: #D9D9D9;
    
}

.campos{
    margin: 10px 30px;
}

.campos input, select {
    width: 80%;
}
