.validation-error{
    border-color:red;
}

.validation-success{
    border-color: green;
}

#username_parrafo{
    color: red;
    display: none;

}

#password_parrafo{
    color: red;
    display: none;
}

h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#div-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.form-container {
    background-color: #1D252D;
    color: #D9D9D9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary{
    margin-top: 20px;
    background-color: #1D9428;
    border: none;
}


