.validation-error{
    border-color:red;
}

.validation-success{
    border-color: green;
}

#username_parrafo{
    color: red;
    display: none;

}

#password_parrafo{
    color: red;
    display: none;
}