/* Font Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Paleta de Colores FIGMA 
#D9D9D9 Gris
#1D9428 Verde
#1D252D Azul oscuro
#00A6FB Azul claro
#EB4046 Rojo
#EEAA29 Naranja 
*/

/* Barra de Progreso */

.step-content {
    display: none;
}

.step-content.active {
    display: block;
}

/* Barra de Progreso */

/* #div-row {
    margin-top: 10vh;
} */

.img-dashboard {
    margin: 20px;
    width: 700px;
    height: auto;
}

.boton-agregar {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#label-select {
    margin-bottom: 10px;
}

header {
    padding-left: 20px;
    background-color: #f2f2f2  ;
}



body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/pattern_triangles_white.png) !important;
    color: #1D252D !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    padding-top: 56px;
}


h2 {
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
    text-shadow: 1px 1px 2px #1D252D;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.container {
    background-color: #D9D9D9;
    /* Color de fondo deseado */
    padding: 20px;
    /* Espacio alrededor del contenido */
    margin: 10px auto;
    /* Márgenes para centrar el contenedor */
    border-radius: 8px;
    /* Bordes redondeados, opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para resaltar el contenedor */
}

.btn-primary {
    background-color: #00A6FB;
    border-color: #00A6FB;
}

.btn-primary:hover {
    background-color: #db991e;
    border-color: #db991e;
}

.btn-success {
    background-color: #1D9428;

}

hr {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}