<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>PRODUCTOS</h1>
    <a href="#" class="agregar-producto"><strong>Agregar producto</strong></a>
    <table>
        <thead>
            <tr class="encabezado">
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Precio Costo</th>
                <th>Precio Venta</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>111</td>
                <td>Cepillo de dientes Suave x2 Unidades</td>
                <td>Colgate</td>
                <td>20</td>
                <td>$500,00</td>
                <td>$799,00</td>
            </tr>
            <tr>
                <td>111</td>
                <td>Cepillo de dientes Suave x2 Unidades</td>
                <td>Colgate</td>
                <td>20</td>
                <td>$500,00</td>
                <td>$799,00</td>
            </tr>
            <tr>
                <td>111</td>
                <td>Cepillo de dientes Suave x2 Unidades</td>
                <td>Colgate</td>
                <td>20</td>
                <td>$500,00</td>
                <td>$799,00</td>
            </tr>
            <tr>
                <td>111</td>
                <td>Cepillo de dientes Suave x2 Unidades</td>
                <td>Colgate</td>
                <td>20</td>
                <td>$500,00</td>
                <td>$799,00</td>
            </tr>
        </tbody>
    </table>
</body>

</html>